<%= form_for @admins_politician, :html => {:class => "form-horizontal center"} do |f| %>
  <% if admins_politician.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(admins_politician.errors.count, "error") %> prohibited this admins_politician from being saved:</p>

      <ul>
      <% admins_politician.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= admins_politician.id %>
  <%= admins_politician.position%>
  <%= admins_politician.congressman? ? "yes" : "No" %>
  <div class="form-group">
    <%= f.label :first_name, class: "col-md-2 control-label" %> 
    <div class="col-md-8">
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :last_name, class: "col-md-2 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :attribution, class: "col-md-2 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :attribution, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div>
      <%= f.label :position , class: "col-md-2 control-label" %>
      <div class="col-md-2">
        <%= f.select(:position, Admins::Politician.positions.keys.map {|position| [position.titleize, position]}, {}, {class: 'form-control'}) %>
      </div>
      <%= f.label :party, class: "col-md-2 control-label" %>
      <div class="col-md-2">
        <%= f.select(:party, Admins::Politician.parties.keys.map {|party| [party.titleize, party]}, {}, {class: 'form-control'}) %>
      </div>

    </div>
  </div>

  <div class="form-group">
    <%= f.label :state, class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= collection_select(:admins_politician, :state_id, Admins::State.all, :id, :name, {}, {:class=>'form-control'}) %>
    </div>
    <%= f.label :district, class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= collection_select(:admins_politician, :district_id, @admins_districts, :id, :name, {:include_blank => 'Select District'}, {:class=> "form-control", :disabled => admins_politician.congressman? ? false : true}) %>
    </div>
  </div>
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field  :avatar %>
    <%= image_tag @admins_politician.avatar.url(:thumb) %>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-2">
      <%= f.submit class: "btn btn-default btn-primary" %>
    </div>
  </div>
<% end %>
