<p id="notice"><%= notice %></p>
<p>
  <strong>First Name:</strong>
  <%= @admins_politician.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @admins_politician.last_name %>
</p>

<p>
  <strong>Party:</strong>
  <%= @admins_politician.party %>
</p>

<% if @admins_politician.office %>
  <p>
    <strong>Position:</strong>
    <%= @admins_politician.office.position %>
  </p>
  <p>
    <strong>State:</strong>
    <%= @admins_politician.office.state.name %> (<%= @admins_politician.office.state.id %>)
  </p>

  <% if @admins_politician.office.district %>
    <p>
      <strong>District:</strong>
      <%= @admins_politician.office.district.name %>
    </p>
  <% end %>
<% end %>

<p>
  <strong>Twitter:</strong>
  <%= @admins_politician.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @admins_politician.facebook %>
</p>

<p>
  <strong>Twitter Bio</strong>
  <%= @admins_politician.twitter_bio %>
</p>
<%= link_to 'Edit', edit_admins_politician_path(@admins_politician) %> |
<%= link_to 'Back', admins_politicians_path %>
