<div class="card" style="width: 18rem;">
  <img class="card-img-top" src=".../100px180/" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<p>
  <strong>First Name:</strong>
  <%= @users_politician.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @users_politician.last_name %>
</p>

<p>
  <strong>Party:</strong>
  <%= @users_politician.party %>
</p>

<% if @users_politician.office %>
  <p>
    <strong>Position:</strong>
    <%= @users_politician.office.position %>
  </p>
  <p>
    <strong>State:</strong>
    <%= @users_politician.office.state.name %> (<%= @users_politician.office.state.id %>)
  </p>

  <% if @users_politician.office.district %>
    <p>
      <strong>District:</strong>
      <%= @users_politician.office.district.name %>
    </p>
  <% end %>
<% end %>

<p>
  <strong>Twitter:</strong>
  <%= @users_politician.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @users_politician.facebook %>
</p>
<button type="button" class="btn btn-primary">Primary</button>
<%= link_to 'Back', users_politicians_path %>
