<%= form_for @admins_state, :html => {:class => "form-horizontal center"} do |f| %>
  <% if admins_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admins_state.errors.count, "error") %> prohibited this admins_state from being saved:</h2>

      <ul>
      <% admins_state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">

    <%= f.label :name, class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :abbreviation, class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= f.text_field :abbreviation, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :registered, class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= f.text_field :registered, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-2">
      <%= f.submit class: "btn btn-default btn-primary" %>
    </div>
  </div>

<% end %>
