<table class="table">
  <thead>
    <tr>
      <th><%= sort_link(@search, :name, "Name") %></th>
      <th><%= sort_link(@search, :abbreviation, "Abbreviation") %></th>
      <th><%= sort_link(@search, :registered, "Check Registration") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render 'filter', search:@search %>
    <% @admins_states.each do |admins_state| %>
      <tr>
        <td><%= admins_state.name %></td>
        <td><%= admins_state.abbreviation %></td>
        <td><%= admins_state.registered %></td>
        <td><%= link_to 'Show', admins_state %></td>
        <td><%= link_to 'Edit', edit_admins_state_path(admins_state) %></td>
        <td><%= link_to 'Destroy', admins_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @admins_states %>
<br>
