<p id="notice"><%= notice %></p>

<h1>Admins States</h1>
<%= will_paginate @admins_states %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Abbreviation</th>
      <th>Congress</th>
      <th>Senate</th>
      <th>Governor</th>
      <th>President</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admins_states.each do |admins_state| %>
      <tr>
        <td><%= admins_state.name %></td>
        <td><%= admins_state.abbreviation %></td>
        <td><%= number_to_percentage(admins_state.congress_dem_percentage, precision: 0) %></td>
        <td><%= number_to_percentage(admins_state.senate_dem_percentage, precision: 0) %></td>
        <td><%= number_to_percentage(admins_state.governor_dem_percentage, precision: 0) %></td>
        <td><%= number_to_percentage(admins_state.president_2016, precision: 0) %></td>
        <td><%= link_to 'Show', admins_state %></td>
        <td><%= link_to 'Edit', edit_admins_state_path(admins_state) %></td>
        <td><%= link_to 'Destroy', admins_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @admins_states %>
<br>

<%= link_to 'New Admins State', new_admins_state_path %>

</br>
<%= form_tag import_admins_states_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

