<div class="page-header">
  <h2>Area Codes</h2>
</div>

<div class="row">
  <div class="col-md-6">
    <%= link_to 'New Area Code', new_admins_area_code_path, {:class => "btn btn-primary"} %>
  </div>
  <div class="col-md-6">
    <span class="pull-right"><button type="button" class="btn btn-link" data-toggle="collapse" data-target="#list_search">Search and Filter</button></span>
  </div>
</div>
<%= render 'list', admins_area_code: @admins_area_code %>

<%= form_tag import_admins_area_codes_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

</br>

