<%= form_for @admins_election, :html => {:class => "form-horizontal center"} do |f| %>
  <% if admins_election.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(admins_election.errors.count, "error") %> prohibitied this admins_election from being saved:</p>
      <ul>
      <% admins_election.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :date, class: "col-md-2 control-label" %>

    <div class="col-md-2" >
      <%= f.text_field :date, class: "pdate form-control" %>
    </div>


  </div>

  <div class="form-group">
    <%= f.label :position, class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= f.select(:position, Admins::Election.positions.keys.map {|position| [position.titleize, position]}, {}, {class: 'form-control'}) %>
    </div>
    <%= f.label :district, class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= collection_select(:admins_election, :district_id, @admins_districts, :id, :name, {:include_blank => 'Select District'}, {:class => "form-control", :disabled => admins_election.house? ? false : true}) %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :state, class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= collection_select(:admins_election, :state_id, Admins::State.all, :id, :name, {}, {:class=>'form-control'}) %>
    </div>
  </div>
 
  <div class="form-group">
    <div class="mod-md-offset-2 col-md-2">
      <%= f.submit class: "btn btn-default btn-primary" %>
    </div>
  </div>
<% end %>
