<p>Admins Elections</p>

<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Year</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admins_elections.each do |admins_election| %>
      <tr>
        <td><%= admins_election.position %></td>
        <td><%= admins_election.year %></td>
        <td><%= admins_election.date %></td>
        <td><%= link_to 'Show', admins_election %></td>
        <td><%= link_to 'Edit', edit_admins_election_path(admins_election) %></td>
        <td><%= link_to 'Destroy', admins_election, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admins Election', new_admins_election_path %>
