<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @admins_election.position %>
</p>

<p>
  <strong>Year:</strong>
  <%= @admins_election.year %>
</p>

<%= link_to 'Edit', edit_admins_election_path(@admins_election) %> |
<%= link_to 'Back', admins_elections_path %>
