<%= form_for @admins_district, :html => {:class => "form-horizontal center"} do |f| %>
  <% if admins_district.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admins_district.errors.count, "error") %> prohibited this admins_district from being saved:</h2>

      <ul>
      <% admins_district.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :state_id, class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= f.collection_select(:state_id, Admins::State.all, :id, :name, {:include_blank => 'Select state'}, {:class => 'form-control'})%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :number, class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= f.number_field :number, class: "form-control" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
