<div class="page-header">
  <h2>Districts</h2>
</div>
<br>
<%= render 'list', admins_district: @admins_district %>

<%= form_tag import_admins_districts_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<br>

<%= link_to 'New Admins District', new_admins_district_path %>
