<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admins_district.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @admins_district.state_id %>
</p>

</p>
  <strong>Number:</strong>
  <%= @admins_district.number %>
</p>

<%= link_to 'Edit', edit_admins_district_path(@admins_district) %> |
<%= link_to 'Back', admins_districts_path %>
