<%= search_form_for @search do |f| %>
<tr id="list_search" class="collapse in">
  <td><%= f.text_field :election_date_eq %></td>
  <td><%= f.select :election_office_state_id_eq, options_from_collection_for_select(Admins::State.all, "id", "name"), include_blank: true %></td>
  <td><%= f.select :election_office_position_eq, Admins::Office.positions.to_a.map { |w| [w[0].humanize, w[1]] }, {:include_blank => true} %></td>
  <td></td>
  <td></td>
  <td></td>
  <td><%= f.submit "Search" %></td>
</tr>
<% end %>
