<%= form_for @admins_campaign, :html => {:class => "form-horizontal center"} do |f| %>
  <% if admins_campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admins_campaign.errors.count, "error") %> prohibited this admins_campaign from being saved:</h2>

      <ul>
      <% admins_campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Candidate', class: "col-md-2 control-label" %>
    <%= f.hidden_field :politician_id %>
    <div class="col-md-2">
      <%= f.text_field :candidate_name, data: {autocomplete_source: autocomplete_api_v1_politicians_path}, class: "form-control" %>
    </div>
  </div>

  <%= f.fields_for :election do |e| %>

  <%= e.fields_for :office do |o| %>
  <div class="form-group">
    <%= o.label :position, class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= o.select(:position, Admins::Office.positions.keys.map {|position| [position.titleize, position, {'enum' => Admins::Office.positions[position]}]}, {:include_blank => 'Select position'}, {class: 'form-control'}) %>
    </div>
  </div> 

  <div class="form-group">
    <%= o.label :state, class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= o.collection_select(:state_id, Admins::State.all, :id, :name, {:include_blank => 'Select state'}, {:class => 'form-control'}) %>
    </div>
  </div>

  <div class="form-group">
    <%= o.label :district, class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <% if @admins_campaign.election.office.state %>
      <%= o.collection_select(:district_id, @admins_campaign.election.office.state.districts, :id, :name, {include_blank: 'Select district'}, {class: 'form-control', :disabled => !@admins_campaign.election.office.representative?}) %>
      <% else %>
      <%= o.collection_select(:district_id, [], :id, :name, {:include_blank => 'Select district'}, {:class => 'form-control'}) %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= e.label 'Incumbent', class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <% if @incumbents %>
        <%= e.collection_select(:office_id, @incumbents, :id, :incumbent_name, {:include_blank => 'Select incumbent'}, {:class => 'form-control'}) %>
      <% else %>
        <%= e.collection_select(:office_id, [], :id, :name, {:include_blank => 'Select incumbent'}, {:class => 'form-control'}) %>
      <% end %>
    </div>
  </div>
  <% end %> 
  <% end %>

  <div class="form-group">
    <%= f.label :date, class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <% if @dates %>
        <%= f.collection_select(:election_id, @dates, :id, :date, {:include_blank => 'Select election'}, {:class => 'form-control'}) %>
      <% else %>
        <%= f.collection_select(:election_id, [], :id, :date, {:include_blank => 'Select election'}, {:class => 'form-control'}) %>
      <% end %>
    </div>
  </div>

    <%= f.hidden_field :date_id %>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-2">
      <%= f.submit class: "btn btn-default btn-primary" %>
    </div>
  </div>
<% end %>
