<%= form_for @admins_office, :html => {:class => "form-horizontal center"} do |f| %>
  <% if admins_office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admins_office.errors.count, "error") %> prohibited this admins_office from being saved:</h2>

      <ul>
      <% admins_office.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :position, class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= f.select(:position, Admins::Office.positions.keys.map {|position| [position.titleize, position]}, {:include_blank => 'Select position'}, {class: 'form-control'}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :state, class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <%= f.collection_select(:state_id, Admins::State.all, :id, :name, {:include_blank => 'Select state'}, {:class=>'form-control'}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :district, class: "col-md-2 control-label" %>
    <div class="col-md-2">
      <% if @admins_office.state %>
        <%= f.collection_select(:district_id, @admins_office.state.districts, :id, :name, {include_blank: 'Select district'}, {class: 'form-control', :disabled => !@admins_office.representative?}) %>
      <% else %>
        <%= f.collection_select(:district_id, [], :id, :name, {include_blank: 'Select district'}, {class: 'form-control', :disabled => true}) %>
      <% end %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label 'Incumbent', class: "col-md-2 control-label" %>
    <%= f.hidden_field :politician_id %>
    <div class="col-md-2">
      <%= f.text_field :incumbent_name, data: {autocomplete_source: autocomplete_api_v1_politicians_path}, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit  :class => "btn btn-primary" %>
  </div>
<% end %>
