<p id="notice"><%= notice %></p>

<h1>Admins Offices</h1>

<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>State</th>
      <th>District</th>
      <th>Politician</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admins_offices.each do |admins_office| %>
      <tr>
        <td><%= admins_office.position %></td>
        <td><%= admins_office.state_id %></td>
        <td><%= admins_office.district_id %></td>
        <td><%= admins_office.politician_id %></td>
        <td><%= link_to 'Show', admins_office %></td>
        <td><%= link_to 'Edit', edit_admins_office_path(admins_office) %></td>
        <td><%= link_to 'Destroy', admins_office, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admins Office', new_admins_office_path %>
