<!DOCTYPE html>
<html>
  <head>
    <title>PhowmaRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
      <a class="navbar-brand" href="#">Phowma</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-link <%= 'active' if params[:controller] == 'admins/states' %>"> <%= link_to "States", admins_states_path %></li>
          <li class="nav-link <%= 'active' if params[:controller] == 'admins/districts' %>"> <%= link_to "Districts", admins_districts_path %></li>
          <li class="nav-link <%= 'active' if params[:controller] == 'admins/politicians' %>"> <%= link_to "Politicians", admins_politicians_path %></li>
          <li class="nav-link <%= 'active' if params[:controller] == 'admins/offices' %>"> <%= link_to "Offices", admins_offices_path %></li>
          <li class="nav-link <%= 'active' if params[:controller] == 'admins/campaigns' %>"> <%= link_to "Campaigns", admins_campaigns_path %></li>
          <li class="nav-link <%= 'active' if params[:controller] == 'admins/socials' %>"> <%= link_to "Socials", admins_socials_path %></li>
          <li class="nav-link <%= 'active' if params[:controller] == 'admins/posts' %>"> <%= link_to "Posts", admins_posts_path %></li>

        </ul>
        <ul class="navbar-nav">
        <% if admin_signed_in? %>
          <li>
            <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>
          </li>
        <% else %>
          <li>
            <%= link_to('Login', new_admin_session_path) %>
          </li>
        <% end %>
        </ul>
      </div>
    </nav>


  <div class='container'>
    <% flash.each do |key, value| %>
      <div class='alert alert-<%= key %>'><%= value %></div>
    <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </div>

  </body>

</html>
